.tray-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  margin-left: 0.5em;
  margin-bottom: 0.5em;
  background-color: var(--background-color-3);
  border-radius: 10px;
  width: 30vw;
  min-width: 200px;
  max-width: 400px;
  max-height: 80px;
  border: 1px solid var(--background-color-2);
}

.tray-wrapper .profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.tray-wrapper .profile .pfp {
  font-size: 48px;
  display: flex;
  align-items: center;
}

.tray-wrapper .profile .nickname {
  font-size: 26px;
  display: flex;
  align-items: center;
}

.tray-wrapper .actions {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 26px;
}

.tray-wrapper .actions .icon {
  border-radius: 10px;
  transition: all ease 0.1s;
  padding: 5px;
  cursor: pointer;
}

.tray-wrapper .actions .icon:hover {
  background-color: var(--background-color-5);
}

.tray-wrapper .actions .icon a {
  display: flex;
  align-items: center;
}
