.info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    width: 100%;
    height: 100vh;
}

.info-wrapper section .label {
    font-weight: bold;
}

.info-wrapper .warning {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-wrapper section .important {
    color: red;
}