.call-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 50%;
  background-color: var(--background-color-5);
  border-radius: 10px;
  border: 1px solid var(--background-color-2);
  gap: 1em;
}

.call-wrapper .action-tray {
  padding: 1em;
}

.call-wrapper .action-tray .end-call {
  background-color: var(--accent-color-1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.call-wrapper .action-tray .end-call:hover {
  background-color: var(--accent-color-2);
}

.call-wrapper .avatars {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
}

.call-wrapper .avatars .avatar-div .avatar {
  width: 96px;
  height: 96px;
}
