.call-toast-wrapper {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1001;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  margin-left: 0.5em;
  margin-bottom: 0.5em;
  background-color: var(--background-color-3);
  border-radius: 10px;
  width: 30vw;
  min-width: 300px;
  max-width: 400px;
  max-height: 80px;
  border: 1px solid var(--background-color-2);
}

.call-toast-wrapper .call-avatar-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.call-toast-wrapper .call-avatar-div .username {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
}

.call-toast-wrapper .call-avatar-div .pfp {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
}

.call-toast-wrapper .call-btns {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.call-toast-wrapper .call-btns .answer-call-btn {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.call-toast-wrapper .call-btns .decline-call-btn,
.call-toast-wrapper .call-btns .end-call-btn {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-color-1);
}
